* {
  padding: 0px;
  margin: 0px;
}
:root {
  --light-green: #4ade80;
  --medium-green: #22c55e;
  --hover-green: #86efac;
  --clicked-green: #15803d;
  --border-green: #22c55e;
  --edge-green: #bbf7d0;
  --shadow-green: #052e167c;
}


body {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  display: flex;
  align-items: center;
  font-size: 3rem;
  font-weight: bold;
  z-index: 1;
  background-color: var(--light-green);
  padding: 1rem;
}

.logo{
  width: 3rem;
}

.main {
  display: grid;
  grid-template-columns: auto 1fr;
}

ul {
  list-style: none;
}

nav {
  font-size: 1.6rem;
  font-weight: bold;
  
  background-color: var(--light-green);
  box-shadow: 0px 1px 4px 0px var(--clicked-green);
}
nav svg {
  width: 3rem;
}

.nav-buttons .project-select-button {
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: normal;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.nav-buttons {
  display: grid;
}
.nav-buttons button {
  background-color: var(--light-green);
  border: none;
  padding: 1rem 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  justify-items: start;
  align-items: center;
  font-size: 1.4rem;
  font-weight: bold;
  border-right: 0.6rem solid var(--border-green);
}
nav button:not(.projects-button):hover {
  background-color: var(--border-green);
}
nav button:not(.projects-button):focus {
  background-color: var(--border-green);
  border-right: 1rem solid var(--clicked-green);
}

.projects-button-wrapper{
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}
.projects-button:hover{
  fill: #f0fdf4;
}

.project-header {
  display: flex;
  align-items: center;
  padding: 0.6rem 1rem;
  box-shadow: 1px 4px 4px -1px var(--shadow-green);
}
.homepage-title {
  margin-right: 1rem;
  font-size: 3rem;
}
.add-task {
  background: none;
  border: none;
  fill: var(--medium-green);
  width: 2rem;
  height: auto;
  border-radius: 1rem;
  line-height: 0;
}

.add-task:hover{
  fill: var(--light-green);
}
.add-task:active{
  fill: var(--clicked-green);
}

.edit-task, .remove-task, .show-task-info,
.edit-task:active, .remove-task:active, .show-task-info:active
 {
  width: 1.4rem;
  background: none;
  border: none;
  outline: none;
}
.edit-task svg,.remove-task svg, .add-task svg, .show-task-info svg, .projects-button svg {
  pointer-events: none;
}
.edit-task:hover, .remove-task:hover, .show-task-info:hover {
  fill: rgb(160, 160, 160);
}

.task {
  padding: 0.4rem;
}
.task-header {
  display: grid;
  justify-content: start;
  align-items: center;
  grid-template-columns: 200px auto auto auto;
}
.task-title {
  max-width: 100%;
  font-size: 1rem;
  padding: 0.2rem 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.task-due-date-header {
  font-size: .7rem;
}

.task-content {
  font-size: 0.8rem;
  color: rgb(80, 80, 80);
  max-height: 0;
  padding: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.task-content .active{
  padding: 10rem;
}

.dragging {
  opacity: 0.7;
}
/*Task Form Styles*/
dialog {
  border: none;
  border-radius: 0.4rem;
  padding: 2rem 1rem;
}

dialog button {
  padding: 0.5rem;
  background-color: var(--medium-green);
  border: none;
  border-radius: 0.2rem;
}

dialog select {
  width: 100%;
}

.form-element { 
  margin-bottom: 0.4rem;
}

dialog button:hover {
  background-color: var(--hover-green);
}

dialog button:active {
  background-color: var(--clicked-green);
}

/*priority checkbox */
input {
  font-size: 1rem;
  outline: none;
  border: 1px solid #bdbdbd;
  border-radius: 0.4rem;
  padding: 0.1rem;
  margin-bottom: 0.2rem;
}

.form-element input[type="radio"]{
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.form-element [type="radio"]:checked + span.low {
  box-shadow: 0 0 0 0.0625em rgba(113, 255, 113, 0.75);
  background-color: rgba(113, 255, 113, 0.75);
  z-index: 1;
}

.form-element [type="radio"]:checked + span.high {
  box-shadow: 0 0 0 0.0625em rgba(255, 94, 94, 0.75);
  background-color: rgba(255, 94, 94, 0.75);
  z-index: 1;
}
.form-element [type="radio"]:checked + span.medium {
  box-shadow: 0 0 0 0.0625em rgba(255, 255, 118, 1);
  background-color: rgba(255, 255, 118, 0.75);
  z-index: 1;
}


label[for*="priority"] span {
  display: block;
  cursor: pointer;
  padding: 0.375em .75em;
  background-color: white;
  position: relative;
  margin-left: .0625em;
  letter-spacing: .05em;
  text-align: center;
  transition: background-color .5s ease;
}


label[for*="priority"]:first-child span {
  border-radius: .375em 0 0 .375em;
}

label[for*="priority"]:last-child span {
  border-radius: 0 .375em .375em 0;
}


.form-element div {
  display: flex;
}


/*Task priority styles*/
.task.high {
  background-color: rgba(255, 94, 94, 0.5);
}
.task.high:hover {
  background-color: rgba(255, 117, 117, 0.5);
}
.task.medium {
  background-color: rgba(255, 255, 118, 0.5);
}
.task.medium:hover{
  background-color: rgba(255, 255, 158, 0.61);
}
.task.low {
  background-color: rgba(113, 255, 113, 0.5);
}
.task.low:hover{
  background-color: rgba(150, 255, 150, 0.5);
}

footer {
  display: flex;
}


/*date switch styles*/
.switch {
 font-size: 17px;
 position: relative;
 display: inline-block;
 width: 3.7em;
 height: 1.8em;
}

.switch input {
 display: none;
 opacity: 0;
 width: 0;
 height: 0;
}

.slider {
 position: absolute;
 cursor: pointer;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: #7e7e7e;
 transition: .2s;
 border-radius: 30px;
}

.slider:before {
 position: absolute;
 content: "";
 height: 1.4em;
 width: 1.4em;
 border-radius: 20px;
 left: 0.2em;
 bottom: 0.2em;
 background-color: white;
 transition: .4s;
}

.switch input:checked + .slider {
 background-color: var(--medium-green);
}

.switch input:focus + .slider {
 box-shadow: 0 0 1px var(--medium-green);
}

.switch input:checked + .slider:before {
 transform: translateX(1.9em);
}
